## Exercises

## Sorting a List
    
 * Permanently with the __`sort ()`__ Method
 * __sorted list with tuplas__
 * print list as sorted but not permanantly
 * reverse sort with __`reverse=True`
 * ignoring Capital letter with __`casefold`__
 * __`lambda function`__

# Here you will find some simple examples where you can work with list, list with tuplas, method sort, sorted, reverse=True, casefold and lambda funcitons

Many of this exemples I took from  the book  Python crash course

In [1]:
cars=['bmw',"audi","toyota","subaru"]
cars.sort()

In [2]:
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

With the sort() Method we can change the sort premanently and we can never evert to the riginal order.

In [3]:
#YOU CAN ALSO SORT THIS LIST I REVERSE ALPHABETICAL ORDER BY PASSINGTHE ARGUMENT
#reverse=True

cars=['bmw',"audi","toyota","subaru"]
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [4]:
#To maintain the original order of a list but present it in a sorted order, you
#can use the sorted() function. The sorted() function lets you display your list
#in a particular order but doesnâ€™t affect the actual order of the list.

In [5]:
cars=["bmw","audi","toyota","subaru"]

In [6]:
cars

['bmw', 'audi', 'toyota', 'subaru']

In [7]:
print(sorted(cars))

['audi', 'bmw', 'subaru', 'toyota']

In [8]:
cars

['bmw', 'audi', 'toyota', 'subaru']

In [9]:
print("\n Here is the original list")
cars

 Here is the original list

['bmw', 'audi', 'toyota', 'subaru']

In [10]:
# We can also use use the reverse=True argument in the function sorted()

In [13]:

print("\n Here we have the list sorted in the reverse ordem")

 Here we have the list sorted in the reverse ordem

In [20]:
print(sorted(cars,reverse=True))

['toyota', 'subaru', 'bmw', 'audi']

In [24]:
print("Here is the orignal list")
print(cars)

print("\n Here is the sorted list in the reverse order")
sorted(cars,reverse=True)

Here is the orignal list
['bmw', 'audi', 'toyota', 'subaru']

 Here is the sorted list in the reverse order

['toyota', 'subaru', 'bmw', 'audi']

In [25]:
cars

['bmw', 'audi', 'toyota', 'subaru']

In [26]:
#OK let's work with a list of tuplas and let's see how this works

list_tuplas=[(1,6,5),(8,4,6,5),(8,9,4),(4,6,5)]

In [27]:
print(list_tuplas)

[(1, 6, 5), (8, 4, 6, 5), (8, 9, 4), (4, 6, 5)]

In [28]:
#let's think that we want to ordened this tupla by the third[2] index, for that we can use lambda function and we can use
# the special word Key refering to the function lambda
#Let's see it


func_lamb=lambda x: x[2]

sorted(list_tuplas,key=func_lamb)

[(8, 9, 4), (1, 6, 5), (4, 6, 5), (8, 4, 6, 5)]

In [29]:
#Let's try again with the first index[0]

func_lamb1 = lambda x:x[0]
sorted(list_tuplas, key=func_lamb1)

[(1, 6, 5), (4, 6, 5), (8, 4, 6, 5), (8, 9, 4)]

In [31]:
#Let's get other example:
list_tuplas2=[("R",0,3),("E",2,1),("i",3,0),("e",2,9),("a",1,45)]

In [33]:
#Lets try ordened it by the first index
func_lamb2=lambda x:x[0]
sorted(list_tuplas2,key=func_lamb2)

[('E', 2, 1), ('R', 0, 3), ('a', 1, 45), ('e', 2, 9), ('i', 3, 0)]

In [35]:
#Let's think about what happened here
#The Upper Letter is Prioritizing over the low case
#To fix it what we can do is to force the sorted Method to see all the letters as low case, for that we can use casefold this
#function will igonore the case.

#Definition and Usage
#The casefold() method returns a string where all the characters are lower case.

#This method is similar to the lower() method, but the casefold() method is stronger, 
#more aggressive, meaning that it will convert more characters into lower case, and will 
#find more matches when comparing two strings and both are converted using the casefold() method.

#https://www.w3schools.com/python/ref_string_casefold.asp

In [36]:
#Let's try it again

func_lamb3 = lambda x: str.casefold(x[0])

sorted(list_tuplas2,key=func_lamb3)

[('a', 1, 45), ('E', 2, 1), ('e', 2, 9), ('i', 3, 0), ('R', 0, 3)]

In [40]:
#Good but, let's think that now we heve two "e" and if they are the same we wish to ordened it by the second [1] index 


func_lamb4 = lambda x: (str.casefold(x[0]),x[1])

sorted(list_tuplas2,key=func_lamb4)

[('a', 1, 45), ('E', 2, 1), ('e', 2, 9), ('i', 3, 0), ('R', 0, 3)]

In [41]:
#OK my list has 2 "Two" in the second and thrid tupla.. let's change this, to see if it is really working

list_tuplas3=[("R",0,3),("E",2,1),("i",3,0),("e",1,9),("a",1,45)]

In [42]:
#Ok Let's run it

func_lamb4 = lambda x: (str.casefold(x[0]),x[1])

sorted(list_tuplas3,key=func_lamb4)

[('a', 1, 45), ('e', 1, 9), ('E', 2, 1), ('i', 3, 0), ('R', 0, 3)]